body {
    background-color: #E9EAEC;
}

.container {
    max-width: 960px;
}

nav {
    background-color: #333652;
}

.card {
    padding: 20px;
    margin: 10px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #333652;
}

nav ul a {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    color: #FAD02C;
}

nav:active {
    color: #90ADC6;
}

nav ul a:active {
    color: #333652;
}

a {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: #FAD02C;
}

p {
    font-size: 20px;
    color: #333652;
}

.card.horizontal {
    border: solid 2px #E9EAEC;
}

.contact-form {
    padding: 10px;
    margin: 10px;
}

.submit-link {
    color: #E9EAEC;
    font-size: 12px;
    font-family: 'Permanent Marker', cursive;
}

h3 {
    border-bottom: #E9EAEC solid 2px;
    padding-bottom: 10px;
}

h4 {
    font-size: 24px;
    color: #333652;
}

.clearfix {
    overflow: auto;
}

#email-btn {
    background-color: #FAD02C;
}

#write-btn, #linkedin-btn, #github-btn, #resume-btn {
    background-color: #333652;
}

/* .fixed-action-btn.direction-top.active {
    background-color: #FAD02C;  
} */

.profile {
    float: left;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 25px;
    padding-right: 20px;
    min-width: 25%;
}