body {
    /* background-color: #E9EAEC; */
    background-color: #47555F;
}

.container {
    max-width: 960px;
}

nav {
    /* background-color: #C8923B; */
    background-color: #333431;
}

.card {
    padding: 20px;
    margin: 10px;
}

.card-image {
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #47555F;
    font-size: 24px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #90ADC6;
}

nav ul a {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    color: #BDC0CB;
}

nav:active {
    color: #90ADC6;
}

nav ul a:active {
    color: #C8923B;
}

a {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: #BDC0CB;
}

p {
    font-size: 20px;
    color: #47555F;
    font-family: 'EB Garamond', serif;
    line-height: 1.2em;
}

.card.horizontal {
    border: solid 2px #333431;
}

/* .card-image {
    border: solid 2px #333431;
} */

.contact-form {
    padding: 10px;
    margin: 10px;
}

.submit-link {
    color: #E9EAEC;
    font-size: 12px;
    font-family: 'Permanent Marker', cursive;
}

h3 {
    border-bottom: #E9EAEC solid 2px;
    padding-bottom: 15px;
    color: #BDC0CB;
    line-height: 0.95em;
}

h4 {
    font-size: 24px;
    color: #C8923B;
}

.clearfix {
    overflow: auto;
}

#email-btn {
    background-color: #BDC0CB;
}

#write-btn, #linkedin-btn, #github-btn, #resume-btn {
    background-color: #C8923B;
}

/* .fixed-action-btn.direction-top.active {
    background-color: #BDC0CB;  
} */

.profile {
    float: left;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 25px;
    padding-right: 20px;
    min-width: 25%;
}

.about {
    color: #47555F;
    font-family: 'EB Garamond', serif;
    font-size: 18px;
}